<div class="d-flex justify-content-center mt-3">
    <form action="" autocomplete="off">
        <div>
            <div class="display-6">
                LOGIN
            </div>
            <br>
            <div>
                <!-- area de usuario -->
                 <div>
                     <div>
                         <label for="emailusuario">Usuario</label>
                     </div>
                     <div>
                        <input class="form-control" [(ngModel)]="nombreUser" type="email" (ngModelChange)="mostrarNombre()" name="emailusuario" id="emailusuarioid" placeholder="Ingrese su email">
                     </div>
                     <div>
                        <label for="contraseniapassword">Contrase&ntilde;a</label>
                     </div>
                     <div>
                        <input class="form-control" [(ngModel)]="passwordUser" type="password" name="contraseniapassword" id="contraseniapasswordid" placeholder="*******">
                     </div>
                 </div>
                 <br>
                 <div class="btn-group">
                    <div class="bi bi-airplane btn btn-primary">
                        <input class=" btn btn-primary" type="button" value="Iniciar sesi&oacute;n" (click)="mostrarNombre()">
                    </div>
                    <br>
                    <a href="#" (click)="eventoBanderaCambioPantalla()">Registrarse</a>
                 </div>
            </div>
        </div>
    </form>
</div>
